<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trang chủ &mdash; Website by Tuấn đẹp trai siêu cấp vũ trụ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/css/aos.css">
    <link href="~/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/css/style.css">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        @Html.Action("NavPatial", "Home")

        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="site-logo">
                        <a href="@Url.Action("Index", "PhanCong")" class="d-block">
                            <img src="~/images/logotdmu.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="mr-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li class="active">
                                    <a href="@Url.Action("Index","PhanCong")" class="nav-link text-left">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","PhanCong")" class="nav-link text-left">Xem phân công</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link text-left">Xem chương trình đào tạo</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ThongKe","ThongKe")" class="nav-link text-left">ThongKe</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link text-left">Liên Hệ</a>
                                </li>
                            </ul>                                                                                                                                                                                                                                                                                          </ul>
                        </nav>

                    </div>


                </div>
            </div>

        </header>
        </br>
        </br>
        </br>
        </br>


        <div class="col-12">
            <div class=" "style="text-align:center">
                
                    @RenderBody()
               
            </div>
        </div>

            <div></div>
            <div></div>


            @*<div class="site-section ftco-subscribe-1" style="background-image: url('images/bg_1.jpg')">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <h2>Subscribe to us!</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,</p>
                        </div>
                        <div class="col-lg-5">
                            <form action="" class="d-flex">
                                <input type="text" class="rounded form-control mr-2 py-3" placeholder="Enter your email">
                                <button class="btn btn-primary rounded py-3 px-4" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
*@
        <br />
        <br />
        <br />
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <p class="mb-4"><img src="~/images/logotdmu.png" alt="Image" class="img-fluid"></p>
                            <p>Số 06, Trần Văn Ơn, Phú Hòa, Thủ Dầu Một, Bình Dương</p>
                            <p>(0274) 382 2518 - (0274) 383 7150</p>
                            <p>http://tdmu.edu.vn</p>
                            <p>Đang truy cập: 972</p>
                            <p>© 2020 Trường Đại học Thủ Dầu Một</p>
                            <p><a href="#">Learn More</a></p>
                        </div>
                        <div class="col-lg-3">
                            <h5 class=><span>ĐƠN VỊ TRỰC THUỘC</span></h5>
                            <ul class="list-unstyled">
                                <li><a href="#"><h6>Khoa-Viện</h6></a></li>
                                <li><a href="#"><h6>Phòng ban</h6></a></li>
                                <li><a href="#"><h6>Trung tâm</h6></a></li>

                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h5 class=><span>ĐẢNG - ĐOÀN THỂ</span></h5>
                            <ul class="list-unstyled">
                                <li><a href="#"><h6>Đảng ủy</h6></a></li>
                                <li><a href="#"><h6>Công đoàn - ban liên hệ cựu giáo chức</h6></a></li>
                                <li><a href="#"><h6>Đoàn thanh niên - hôi sinh viên</h6></a></li>

                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h5 class=><span>THÔNG TIN</span></h5>
                            <ul class="list-unstyled">
                                <li><a href="#"><h6>Lịch công tác</h6></a></li>
                                <li><a href="#"><h6>Thông báo</h6></a></li>
                                <li><a href="#"><h6>Tin tức</h6></a></li>
                                <li><a href="#"><h6>Giới thiệu</h6></a></li>
                                <li><a href="#"><h6>Liên hệ ban biên tập</h6></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="copyright">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Tuấn đẹp trai siêu cấp vũ trụ</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    <!-- .site-wrap -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78" /></svg></div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.mb.YTPlayer.min.js"></script>




    <script src="~/js/main.js"></script>

</body>

</html>