@model PhanCongGiangDay.Models.NhomLop

@{
    ViewBag.Title = "UpdateNhomLop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm Nhóm Lớp</h2>

<style>
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
</style>

@using (Html.BeginForm("UpdateNhomLop", "NhomLop", FormMethod.Post))
{


    <div class="form-horizontal">

        <br />
        <br />


        @Html.Hidden("NhomLopId", Model.NhomLopId);
        <div class="form-group" style="padding-right: 10%;">
            <lable class="control-label col-md-2">Mã nhóm lớp </lable>
            <div class="col-md-10">
                <input type="text" size="70" name="MaNhomLop" value="@Model.MaNhomLop" />
            </div>
        </div>

        <div class="form-group" style="padding-right: 10%;">
            <lable class="control-label col-md-2">Mã khoa </lable>
            <div class="col-md-10">
                
                @Html.DropDownList("KhoaId", new SelectList(ViewBag.ListKhoa, "KhoaId", "MaKhoa"))
           
            </div>
        </div>
        <div class="form-group" style="padding-right: 10%;">
            <lable class="control-label col-md-2">Học kỳ</lable>
            <div class="col-md-10">
                @Html.DropDownList("HocKyId", new SelectList(ViewBag.ListHocKy, "HocKyId", "HocKyId"))
            </div>
        </div>
        <div class="form-group" style="padding-right: 10%;">
            <lable class="control-label col-md-2">Môn Học </lable>
            <div class="col-md-10">
                @Html.DropDownList("MonHocId", new SelectList(ViewBag.ListMonHoc, "MonHocId", "MaMonHoc"))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
